{% extends "base.html" %}
{% load static %}

{% block title %}Titan Media Server{% endblock %}

{% block content %}

{% if latest_movie_list %}
    <ul class="list-group">
    {% for movie in latest_movie_list %}
            <li class="list-group-item">
                <span class="badge">{{ movie.format }}</span>
                {% if movie.is_ripped %}
                    <span class="badge">Ripped to Digital</span>
                {% endif %}
                <a href="{% url 'Movies:detail' movie.id %}">{{ movie.title }} ({{ movie.release_date.year }})</a>
            </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
{% endblock %}
