{% extends "base.html" %}
{% load static %}

{% block title %}Titan Media Server{% endblock %}

{% block content %}

{% if latest_movie_list %}
    {% for movie in latest_movie_list %}
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title pull-left">
                    <a href="{% url 'Movies:detail' movie.id %}">{{ movie.title }} ({{ movie.release_date.year }})</a>
                </h3>
                <h3 class="panel-title pull-right">
                    {{ movie.format }}
                </h3>
                <div class="clearfix"></div>
            </div>
        <div class="clearfix"></div>
        <div class="panel-body">
            <ul class="media-list">
                <li class="media">
                    <div class="media-left">
                        <div class="media-left media-top">
                            <img class="media-object" style="width: 192px; height: 256px;" alt="{{ movie.title }}" src="{{ movie.cover_image }}" data-holder-rendered="true">
                        </div>
                    </div>
                    <div class="media-body">
                        <div class="row">
                            <div class="col-md-8">
                                <p>
                                    Everyone's favorite novice wizard, Harry Potter, continues his high-flying adventures at Hogwarts. This time around, Harry ignores warnings not to return to school - that is, if he values his life - to investigate a mysterious series of attacks with Ron and Hermione.
                                </p>
                            </div>
                            <div class="col-md-4">
                                <dl class="dl-horizontal">
                                    <dt>Rating</dt>
                                    <dd>7/10</dd>
                                    <dt>Release Date</dt>
                                    <dd>1/1/1234</dd>
                                    <dt>Runtime</dt>
                                    <dd>123</dd>
                                </dl>
                                <span class="label label-default">photography</span>
                                <span class="label label-default">photography</span>
                                <span class="label label-default">photography</span>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
</div>

{% endfor %}
{% else %}
    <p>No polls are available.</p>
{% endif %}
{% endblock %}
